<h1>Cotizador</h1>
<form [formGroup]="quoteForm" (ngSubmit)="onSubmit(quoteForm.value)">

  <div>
    <label for="branch">
      Ramo
    </label>

    <select formControlName="branch">
      <option value="auto">Automotores</option>
      <option value="motos">Motos</option>
      <option value="hogar">Hogar</option>
    </select>
  </div>
  <div>
    <label for="insuredValue">
      Suma Asegurada
    </label>
    <input id="insuredValue" type="text" formControlName="insuredValue">
  </div>
</form>

<h1>Resultado Cotizacion</h1>
<p>Suma Asegurada: <strong>{{ quoteData.sumaAsegurada }}</strong></p>
<p>Precio: <strong>{{ quoteData.precio }}</strong></p>

<button class="btn btn-primary" (click)="quote()">Cotizar</button>
