<h1>Cotizador</h1>
<form [formGroup]="quoteForm" (ngSubmit)="onSubmit(quoteForm.value)">
  <div>
    <label for="branch">
      Ramo
    </label> <br />
    <select formControlName="branch">
      <option value="auto">Automotores</option>
      <option value="motos">Motos</option>
      <option value="hogar">Hogar</option>
    </select>
  </div>
  <div>
    <label for="insuredValue">
      Suma Asegurada
    </label><br />
    <input id="insuredValue" type="text" formControlName="insuredValue">
  </div>
</form>
<br />
<h1>Resultado Cotización</h1>
<p>Suma Asegurada: <strong>{{ quoteData.sumaAsegurada }}</strong></p>
<p>Precio Mensual: <strong>{{ quoteData.precio }}</strong></p>

<button class="btn btn-primary" (click)="quote()">Cotizar</button>
<br />
<br />
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>Cobertura</th>
        <th>Suma asegurada</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of quoteData.coverages">
        <td>{{ item.coverageName }}</td>
        <td>{{ item.value }}</td>
      </tr>
    </tbody>
  </table>
<p>Mensajes: <strong>{{ message }}</strong></p>

